@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

html,
body,
#root {
  height: 100%;
}

@keyframes moveCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg) translateX(150px)
      rotate(-90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) translateX(150px)
      rotate(-180deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg) translateX(150px)
      rotate(-270deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(150px)
      rotate(-360deg);
  }
}

.hover-row:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

fieldset {
  border: 2px solid var(--mantine-color-gray-4);
  border-radius: 8px;
  padding: 15px;
  background-color: var(--mantine-color-gray-0);
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

legend {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--mantine-color-dark-9);
  padding: 0 10px;
}

/* Dark mode support */
[data-mantine-color-scheme="dark"] fieldset {
  border-color: var(--mantine-color-dark-4);
  background-color: var(--mantine-color-dark-6);
}

[data-mantine-color-scheme="dark"] legend {
  color: var(--mantine-color-gray-3);
}

@media (min-width: 600px) {
  legend {
    font-size: 1rem;
  }
}
